.App {
  min-height: 100vh;
  background-color: #f9fafb;
}

.App-header {
  padding: 2rem;
  text-align: center;
}

@keyframes bounce-short {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }
}

.animate-bounce-short {
  animation: bounce-short 1s ease-in-out 3;
}